@media screen and (max-width: 590px) {
  .container {
    width: 95%;
  }
}

@media screen and (max-width: 340px) {
  .inputs-container > input {
    width: 87%;
  }

  .container > button {
    width: 87%;
  }
}
